<div class="container text-center mt-4">

    <div class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://fastly.picsum.photos/id/356/800/400.jpg?hmac=r99YYxoFbrKLFr9w08dNXfRZv8yjNa0E6svuL9VYGKg" class="img-fluid" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://fastly.picsum.photos/id/821/800/400.jpg?hmac=685nsPHtSkGPHHakN029EcQW3Vpw_QQjuAPjhC-WHjU" class="img-fluid" alt="...">
            </div>
        </div>
    </div>

    <div class="col fs-3 verde borde-2">
        <div class="fw-bold">
            ¿En que podemos ayudarte?
        </div>
        <div>
            <input type="text"><button><i class="bi bi-search"></i></button>
        </div>
    </div>
</div>
